{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<section>
    <h1>Administration</h1>
    <div>
        <h2>Avis</h2>
        <a href="{{ path('app_admin_review_index') }}">Avis à valider</a>
    </div>
</section>
{% endblock %}
