{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe
{% endblock %}

{% block importmap %}
	{{ importmap(['app', 'changePassword']) }}
{% endblock %}

{% block body %}
	<section class="container wrapper d-flex justify-content-center p-5 align-items-center">
		<div class="shadow-sm p-4">
			<h1 class="h4 mb-4 text-center">Changement de mot de passe</h1>
			{# Reset password form #}
			{{ form_start(passForm) }}
			{{ form_row(passForm.plainPassword, {'attr': {'class': 'form-control mb-3'}}) }}
			{# Register.js #}
			<div class="form-text text-dark fs-5 mt-2">
				Complexité du mot de passe :
				<span id="entropy" class="fw-bold text-danger">Très faible</span>
				<br>
				<small class=" fs-5 text-dark">(la complexité minimale acceptée est "Fort")</small>
			</div>
			<button type="submit" id="submit-button" class="btn btn-secondary w-100 mb-2" disabled>Envoyer</button>
			{{ form_end(passForm) }}
		</div>
	</section>
{% endblock %}
