// couleurs personnalisées

$primary: #57C3D9;
$secondary: #8FBF30;
$danger: #BF3000;
$warning:#D9D916;
$info: #009991;


// Typographie personnalisées
$font-family-base: 'Quicksand', sans-serif;
$headings-font-family: 'Inter', sans-serif;