{% extends 'base.html.twig' %}

{% block title %}Compte employé{% endblock %}

{% block body %}
<section>
    <h1>Votre compte employé</h1>

        <h2>Avis</h2>
        <a href="{{ path('app_admin_review_index') }}">Avis à valider</a>
    </div>
</section>
{% endblock %}
