// Password register strength
.text {
   &-red {
      color: red;
   }

   &-orange {
      color: orange;
   }

   &-green {
      color: green;
   }
}

// title background
.title {
   text-shadow: 2px 2px 8px black;
}